* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2 {
    color: white;
    text-align: center;
    padding: 2rem;
    font-family: 'Open sans';
    font-size: 2rem;
}

h3 {
    margin: 1rem;
    margin: 2rem auto;
    text-align: center;
    font-size: 2rem;
}

.body {
    background-color: #313D52;
}

.navegacion {
    width: 100%;
    margin-block-end: 5rem;
     background-color: white;
    text-align: center;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 1.5rem 2rem;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li a:hover {
    color: #CE7D35;
    transition: all.3s;
}

.seciones {
    color: white;
    margin: 2rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem
}

.lista {
    text-decoration: none;
}

.enlace {
    margin-block-end: 1rem;
}

.link {
    color: white;
}

.Codigo {
    margin-top: 1rem;
    margin-block-end: 1rem;
}

.descrip {
    color: darkcyan;
}

.imagen {
    margin-top: 2rem;
    margin-left: 30rem;
}

.footer {
    width: 100%;
    margin-top: 2rem;
    margin-block-end: 2rem;
    background-color: white;
        font-family: 'Open sans';
    font-size: 1rem;
    text-align: center;
}

.submenu {
    position: absolute;
    background: #333333;
    width: 110%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: #ffff;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}


/*pagina etiqueta*/

.etiqueta {
    margin-top: 2rem;
    margin-left: 2rem;
}

.eti {
    margin-block-end: 2rem;
}

.Doctype {
    margin: auto;
    margin-top: 2rem;
    margin-block-end: 2rem;
    display: block;
}

.refe {
    color: blue;
}

.info {
    margin-top: 1rem;
    margin-block-end: 1rem;
}

.Texto {
    margin-block-end: 2rem;
}

.descri {
    margin-block-end: 2rem;
    font-family: 'Open sans';
    color: white;
    text-align: center;
}

.Video {
    margin-left: 20rem;
}

.Doctype3 {
    margin-left: 4rem;
    background-color: white;
    width: 1200px;
    height: 818px;
}

.time{
    margin-left: 38%;
}

.form{
    display: flex;
    justify-content: center;
    
}
